:root {
    --checkBox_BaseWidth: 1.1em;
    --checkBox_borderWidth: 1.5px;
    --exhibitsTileMargin: 10px;
    --topBarMargin: 10px;
    --sortListArea_heightBase: 200px;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Outfit_Local", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
}
.content.top {
    height: calc(50vh - 100px);
    width: 100vw;
    position: relative;
}
.content.top.fullSize {
    height: calc(100vh - 100px);
}
.content.topTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.content.topTitle svg,
.content.topTitle img,
.content.topTitle video,
.content.topTitle .videoFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    --scale: calc(min(100vh, 100vw));
    height: var(--scale);
    width : var(--scale);
}
.content.topTitle video {
    opacity: 0;
    object-fit: cover;
    animation: topBackground 3s ease-in-out forwards;
    animation-delay: 3s;
    width: 100%;
    height: 100%;
}
.content.topTitle .videoFilter {
    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
    background-color: transparent;
}
@keyframes topBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}
.content.topTitle svg {
    --scale: min(100vw, 100vh);
    width : var(--scale);
    height: var(--scale);
}
.content.top .bottomBar {
    position: absolute;
    width: 100vw;
    height: 150px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.top .bottomBar .downArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    width: 100px;
    height: 100px;
}
.content.top .bottomBar .downArrow svg {
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg path {
    position: absolute;
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    opacity: 0;
    animation: draw 2.5s ease-in-out both;
    transform-origin: 50% 50%;
}
.content.topTitle svg path.countDown {
    animation-delay: 3s;
}
@keyframes draw {
    0% {
        stroke-dashoffset: var(--path-length);
        fill: transparent;
    }
    50% {
        transform: translateY(0);
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
.content.top .button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.button {
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(211, 211, 211, .25);
    box-shadow: 0 0 10px gray;
    border-radius: 40px;
    padding: 10px;
}
.topBars {
    width: 100vw;
    height: 80px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.topBarReduced {
    --reduce: 100px;
    height: var(--reduce) !important;
    margin-top: calc(var(--exhibitsTileMargin) + var(--sortListArea_heightBase) - var(--reduce)) !important;
}
.topBars .topBar {
    top: 10px;
    --topBarMargin: 10px;
    width: calc(100vw - var(--topBarMargin) * 4);
    margin: var(--topBarMargin);
    height: 40px;
    opacity: 1;
    display: flex;
    justify-content: left;
    cursor: default;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: 
    ease-in-out .5s opacity,
    ease-in-out .5s backdrop-filter,
    ease-in-out .5s background-color,
    ease-in-out .5s box-shadow,
    ease-in-out .5s animation,
    ease-in-out .5s --webkit-backdrop-filter;
}
.topBars .topBar .content {
    margin-right: 15px;
    display: flex;
    white-space: nowrap;
    justify-content: left;
    align-items: center;
}
.topBars .topBar .content div {
    margin: 10px;
}
.topBars .topBar .content svg {
    height: 2.5em;
    width : 2.5em;
    padding: 0;
    margin: 0;
}
.topBars .topBar .content svg path {
    stroke-width: 50;
    fill: black;
}
@keyframes topBarShow {
    0% {
        opacity: 0;
        width: 0;
        transform: translateY(-50px);
    }
    35% {
        opacity: 1;
        transform: translateY(8px);
    }
    50% {
        width: calc(100vw - var(--topBarMargin) * 4 + 5px);
    }
    60% {
        width: calc(100vw - var(--topBarMargin) * 4 - 5px);
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        width: calc(100vw - var(--topBarMargin) * 4);
        transform: translateY(0);
    }
}
.topBarHidden_Animation {
    backdrop-filter: blur(0);
    --webkit-backdrop-filter: blur(0);
    background-color: transparent;
    box-shadow: none;
}

.content.main {
    opacity: 1;
}

.emphasisText {
    font-size: 150%;
}

.subText {
    font-size: 75%;
}
.checkBox {
    border-radius: 5px;
    position: absolute;
    border: var(--checkBox_borderWidth) solid white;
    height: calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    width : calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    display: inline-block;
    position: relative;
    margin: 5px;
    margin-right: 2px;
    top: 0;
    opacity: .5;
    transition: 
    ease-in-out .1s background-color;
}
.checkedBox .checkBox {
    opacity: 1;
    background-color: lightgray;
}
.checkedBox {
    opacity: 1 !important;
}