.content.main {
    min-height: 100vh;
}
.content.main .exhibits {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    margin-top: var(--sagestsHeight);
    transition: margin-top .5s ease-in-out;
    min-height: 100vh;
}
.content.main .exhibits .list {
    overflow-x: hidden;
    padding-bottom: 10px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    margin-bottom: 50vh;
}
@keyframes tag_show {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    50% {
        transform: translateX(-2px);
        opacity: .9;
    }
    to {
        transform: translateX(0);
        opacity: var(--tileOpacity);
    }
}
.content.main .exhibits .tile {
    --baseOpacity: .2;
    --baseHeight: 200px;
    --baseBackgorundRGB: 211, 211, 211;
    --padding: 8px;
    margin: var(--exhibitsTileMargin);
    margin-bottom: 0;
    width: calc(100% - var(--exhibitsTileMargin) * 2);
    height: var(--baseHeight);
    border-radius: .9em;
    background-color: rgba(var(--baseBackgorundRGB), .25);
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    transition:
    height  .5s ease-in-out,
    margin  .5s ease-in-out,
    opacity .5s ease-in-out;
}
.content.main .exhibits .list .tile {
    height: var(--baseHeight);
}
.content.main .exhibits .list .tile:not(.inVisible) {
    animation: tag_show 1s ease-out backwards;
}
.content.main .exhibits .list .tile.inVisible > div {
    display: none !important;
    box-shadow: none;
}
.content.main .exhibits .list .tile::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
    background: linear-gradient(
        to bottom,
        transparent 20%,
        white 80%
    );
    z-index: 4;
    opacity: 1;
    pointer-events: none;
}
.content.main .exhibits .list .tile.opened::before,
.content.main .exhibits .list .tile.hidden::before
{
    opacity: 0;
}
.content.main .exhibits .tile.hidden {
    opacity: var(--baseOpacity);
    pointer-events: none;
    --whenHiddenHeight: 2.5em;
    height: var(--whenHiddenHeight);
}
.content.main .exhibits .tile.hidden:last-child {
    margin-bottom: calc(
        (var(--baseHeight) - var(--whenHiddenHeight)) * (var(--numOfTile) - var(--numOfVisibleTile))
    );
}
.content.main .exhibits .tile.hidden .tags {
    opacity: 0;
}
.content.main .exhibits .tile.opened {
    /* height: min(60vh, 600px); */
    height: max(
        var(--tileOpenHeight), calc(var(--baseHeight) + 50px)
    );
}

.content.main .exhibits .tile .description {
    top: 15px;
    position: relative;
    display: block;
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
}
.content.main .exhibits .tile .location {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: calc(.5em + 5px);
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25em;
    transition: height .5s ease-in-out;
}
.content.main .exhibits .tile .images {
    position: relative;
    margin: 5px;
    margin-top: 30px;
    height: 40vh;
    padding: 5px;
    height: min-content;
}
.content.main .exhibits .tile.opened .images img {
    opacity: 1;
}
.content.main .exhibits .tile .images img {
    opacity: 0;
    object-fit: cover;
    width : 100%;
    height: 100%;
    border-radius: 2em;
    transition: opacity .5s ease-in-out;
}
.content.main .exhibits .tile.hidden .location {
    height: calc(var(--whenHiddenHeight) / 2 - 10px);
}
.content.main .exhibits .tile .location svg {
    position: relative;
    height: 1.25em;
    width: 1.25em;
    margin-left: .5px;
    transform: rotate(225deg);
}
.content.main .exhibits .tile .location svg path {
    stroke-width: 100;
    transition: stroke-dashoffset .5s ease-in-out;
}
.content.main .exhibits .tile .location span.locationText {
    transition: opacity .5s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
    .content.main .exhibits .tile .location:hover span.locationText {
        opacity: 0;
    }
    .content.main .exhibits .tile .location:hover svg path {
        stroke-dashoffset: var(--pathLength);
        opacity: 0;
    }
    .content.main .exhibits .tile .location:hover span.text {
        opacity: 1;
    }
}

.content.main .exhibits .tile .location span.text {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.content.main .exhibits .tile.sortList * {
    touch-action: pan-x;
}
.content.main .exhibits .tile.sortList {
    --topBarHeight: 40px;
    --tabsHeight: 50px;
    --topMargin: calc(var(--topBarHeight) + var(--tabsHeight));
    margin-top: var(--topMargin);
    touch-action: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: var(--bottomBarHeight);
    width: calc(100% - var(--exhibitsTileMargin) * 2);
    right: 0;
    bottom: 10px;
    z-index: 10;
    overflow: hidden;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.content.main .exhibits .tile.sortList .topContents {
    position: relative;
    width: 100%;
    background: linear-gradient(
        to bottom,
        white 0%,
        transparent 100%
    );
    z-index: 10001;
}
.content.main .exhibits .tile.sortList .topBar {
    position: relative;
    top: 0;
    width: 100%;
    height: var(--topBarHeight);
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.content.main .exhibits .tile.sortList .topBar svg {
    margin-top: 5px;
    height: 1.75em;
    width: 1.75em;
    pointer-events: none;
    transform-origin: 50% 50%;
    position: relative;
    display: flex;
    justify-content: center;
    transition:
    opacity .5s ease-in-out,
    transform .5s ease-in-out;
}
.content.main .exhibits .tile.sortList .tabs {
    height: var(--tabsHeight);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile.sortList .tabs .tab {
    width: 100%;
    padding: 5px;
    opacity: .5;
    background-color: rgba(211, 211, 211, .5);
    box-shadow: 0 0 10px gray;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    transition:
    opacity .5s ease-in-out,
    box-shadow .5s ease-in-out;
    box-shadow: none;
}
.content.main .exhibits .tile.sortList .tabs .tab:first-of-type {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.content.main .exhibits .tile.sortList .tabs .tab:last-of-type {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content.main .exhibits .tile.sortList .topBar svg g {
    transform-origin: 50% 50%;
    transform: translateY(15%);
}
.content.main .exhibits .tile.sortList .topBar svg g path {
    /* transform-origin: 51.3% 54.4%; */
    stroke-width: 60px;
    animation: none !important;
    transform: rotate(-225deg) !important;
    stroke-dashoffset: 0;
    opacity: 1 !important;
    transition:
    opacity .5s ease-in-out,
    stroke-dashoffset .5s ease-in-out;
}
.content.main .exhibits .tile.sortList .topBar svg g.close {
    transform: translateY(-15%) rotate(180deg) !important;
}
.content.main .exhibits .tile.sortList .topBar svg g.close path {
    stroke-dashoffset: var(--pathLength);
    opacity: 0 !important;
}
.content.main .exhibits .tile.sortList .content {
    transition: opacity .5s ease-in-out;
}
.content.main .exhibits .tile.sortList:not(.opened) .content {
    opacity: 0;
}
.content.main .exhibits .tile.sortList.opened .topBar svg g.close path {
    stroke-dashoffset: 0;
    opacity: 1 !important;
}
.content.main .exhibits .tile.sortList.opened .topBar svg g path {
    stroke-dashoffset: var(--pathLength);
    opacity: 0 !important;
}


.content.main .exhibits .tile .tags::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.content.main .exhibits .tag span {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile .names {
    height: 1em;
    position: relative;
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
}
.content.main .exhibits .tile .names .subText {
    position: absolute;
    right: 10px;
}
.content.main .exhibits .tile .tags {
    position: absolute;
    font-size: 1em;
    color: gray;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.2em;
    display: flex;
    transition: opacity .5s ease-in-out;
    z-index: 5;
}
.content.main .exhibits .list .tile .tags > .tagsContent {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.content.main .exhibits .list .tile .tags::before,
.content.main .exhibits .list .tile .tags::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    opacity: calc(1 - var(--scrollRatio));
    z-index: 6;
}
.content.main .exhibits .list .tile .tags::before {
    right: 0;
    background: linear-gradient(to left, white 0%, transparent 100%);
    opacity: calc(1 - var(--scrollRatio));
}
.content.main .exhibits .list .tile .tags::after {
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 100%);
    opacity: var(--scrollRatio);
}

.content.main .exhibits .tile .tags::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.content.main .exhibits .tile .tabs .tab {
    opacity: .5;
    transition: opacity .5s ease-in-out;
}
.content.main .exhibits .tile .tabs .tab.selected {
    opacity: 1;
    box-shadow: 0 0 10px gray;
}
.content.main .exhibits .tile .content {
    width: 100%;
    position: absolute;
    top: 0;
    /* height: calc(
        var(--bottomBarHeight) + var(--topMargin)
    ); */
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.content.main .exhibits .tile .content::-webkit-scrollbar {
    display: none;
}
.content.main .sortDisplay {
    min-height: 2em;
    transition: width .5s ease-in-out;
}
.content.main .sortDisplay > div {
    display: inline-block;
}
.content.main .sortDisplay > div.display {
    color: white;
    padding: 1px;
    border-radius: 5px;
    padding-left : 3px;
    padding-right: 3px;
    font-size: .8em;
}
.content.main .sortDisplay > div.and {
    font-size: .5em;
    margin-left: .5em;
    margin-right: .5em;
}
.content.main .searchArea * {
    transition: opacity .5s ease-in-out;
}
.content.main .searchBars {
    position: relative;
    top: 0;
    width : var(--baseIconScale);
    height: var(--baseIconScale);
    margin-bottom: 20px;
    left: 0;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9;
    border-radius: 3em;
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .1);
    overflow-x: auto;
    transition:
    width .5s ease-in-out,
    color .5s ease-in-out;
}
.content.main .searchBars svg {
    transform: translateX(calc(
        var(--scrollLeft)
    ));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    height: var(--baseIconScale);
    width: var(--baseIconScale);
    cursor: pointer;
    border-radius: 3em;
}
.content.main .searchBars .searchBar,
.content.main .searchBars .searchBarDisplay {
    position: absolute;
    height: calc(100% - 1px);
    width: calc(100% - var(--baseIconScale) - 10px);
    font-size: 1.25em;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    overflow: visible;
    flex-shrink: 0;
    padding-top: 0;
    padding-left: 0;
    left: 0;
    right: var(--baseIconScale);
    white-space: nowrap;
}
.content.main .searchArea {
    position: sticky;
    width: 100%;
    z-index: 10;
    overflow: visible;
    --baseIconScale: 3em;
    --searchBarsWidth: min(
        calc(100% - var(--exhibitsTileMargin) * 2),
        700px
    );
    top: var(--topBarHeight);
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.content.main .searchArea.opened .searchBars {
    color: black;
    pointer-events: auto;
    max-width: 100%;
    padding-left: 0;
    width: var(--searchBarsWidth);
}
.content.main .searchBars.focus .sagests {
    opacity: 1;
    pointer-events: auto;
}
.content.main .searchArea .sagests {
    display: flex;
    flex-direction: column;
    opacity: 0;
    top: var(--baseIconScale);
    position: absolute;
    /* right: 30px; */
    right: 0;
    padding-right: 10px;
    /* left: 0; */
    width: calc(var(--searchBarsWidth) + 20px);
    max-height: calc(100vh - var(--topBarHeight) - 400px);
    overflow-y: auto;
    pointer-events: none;
}
.content.main .searchArea.opened .sagests {
    opacity: 1;
    pointer-events: auto;
}
.content.main .searchArea .sagests > div {
    position: relative;
    left: 20px;
    width: calc(100% - 20px);
    opacity: 0;
    gap: 5px;
    display: flex;
}
.content.main .searchArea .sagests > div:last-child {
    margin-bottom: 20px;
}
.content.main .searchArea.opened .sagests > div {
    opacity: 1;
    pointer-events: none;
}
.content.main .searchArea .sagests > div > div:first-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.content.main .searchArea .sagests > div > div:last-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.content.main .searchArea .sagests > div > div {
    opacity: 0;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    height: 2em;
    padding-left: 10px;
    box-shadow: 0 0 20px gray;
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .1);
    /* width: calc(100% - 10px); */
    width: max-content;
    padding-right: 10px;
    border-radius: 1em;
    margin-top: 5px;
    cursor: pointer;
    pointer-events: none;
}
.content.main .searchArea.opened .sagests > div > div {
    opacity: 1;
    pointer-events: auto;
}
.content.main .searchArea.opened .sagests > div > div.exhibitName {
    min-width: min-content;
    opacity: 1;
}
.content.main .searchArea.opened .sagests > div > div span {
    opacity: .25;
}
.content.main .searchArea .sagests > div > div.exhibitName {
    opacity: 0;
}
.content.main .searchArea .sagests > div > div span {
    opacity: 0;
}
.content.main .searchArea.opened .searchBar::placeholder {
    color: rgba(0, 0, 0, .25)
}
.content.main .searchBars .searchBar::placeholder {
    color: transparent;
    transition: color .5s ease-in-out;
}
.content.main .searchBars .searchBar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    vertical-align: bottom;
    display: table-cell;
    top: 0;
    pointer-events: none;
    color: black;
    pointer-events: none;
    font-family: var(--baseFonts);
    position: absolute;
    border: none;
    text-align: left;
    outline: none;
    opacity: 0;
    overflow: auto;
    width: calc(
        var(--searchBarsWidth) + var(--baseIconScale)
    );
    left: 0;
    padding-left: calc(
        var(--span0Width) + var(--barShift)
    );
}
.content.main .searchBars .searchInputs {
    position: relative;
    height: 100%;
    width: calc(100% - var(--baseIconScale) - 10px);
    right: var(--baseIconScale);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.content.main .searchBars .searchBarDisplay span {
    letter-spacing: 0;
    font-kerning: none;
    font-feature-settings: "liga" 0, "kern" 0;
    height: min-content;
    display: flex;
    align-items: flex-end;
}
.content.main .searchBars .searchBarDisplay span span {
    margin: 0;
    padding: 0;
    display: inline;
    line-height: inherit;
    font: inherit;
    letter-spacing: inherit;
    transform: scale(1);
}
.content.main .searchArea.opened .searchBar {
    opacity: 1;
    pointer-events: auto;
}
.content.main .searchArea.opened .searchBarDisplay {
    opacity: .25;
}
.content.main .searchBars .searchBarDisplay {
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    position: absolute;
    white-space: nowrap;
    left: 0;
    transform: translateX(
        var(--barScrollPx)
    );
    padding-left: calc(
        var(--barShift)
    );
}
.content.main .exhibits .tile .content > div {
    /* height: calc(100% - 16px); */
    scroll-snap-align: start;
    flex-shrink: 0;
    top: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    align-content: flex-start;
    position: relative;
    overflow: visible;
    padding-bottom: 10px;
    top: var(--topMargin);
    /* white-space: normal; */
}
.content.main .exhibits .tile .content > .mapsView {
    height: calc(
        min(100vh - 200px, 1000px)
    );
    padding-bottom: 0;
    bottom: 0;
    user-select: none;
}

.content.main .exhibits .tile .content .mapsView canvas {
    position: absolute;
    top: 0;
}
.content.main .exhibits .tile .content .mapsView .labelsArea {
    pointer-events: none;
    height: calc(100% + var(--topMargin));
    width: 100%;
    overflow: hidden;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .informations .location{
    right: auto;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition {
    transition:
    opacity                  var(--duration) ease-out,
    z-index                  var(--duration) ease-out,
    width                    var(--duration) ease-out,
    height                   var(--duration) ease-out,
    margin                   var(--duration) ease-out,
    padding                  var(--duration) ease-out,
    backdrop-filter          var(--duration) ease-out,
    --webkit-backdrop-filter var(--duration) ease-out,
    box-shadow               var(--duration) ease-out,
    border-radius            var(--duration) ease-out,
    font-size                var(--duration) ease-out,
    color                    var(--duration) ease-out,
    opacity                  var(--duration) ease-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition span {
    transition:
    margin var(--duration) ease-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition .title {
    transition: transform .5s ease-out;
}

.content.main .exhibits .tile .content .mapsView .labelsArea {
    transform: translateY(calc(var(--topMargin) * -1));
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.invalid {
    pointer-events: none;
    --labelOpacity: .5;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel {
    opacity: var(--labelOpacity);
    position: absolute;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    padding: 0;
    border-radius: .5em;
    /* z-index: calc(
        10000 - (var(--camDistance) * 10)
    ); */
    /* font-size: (max(.05vw, .11vh) * .1); */
    /* --fontSize: min(calc(
        (
            10000 - (var(--camDistance) * 10)
        ) * .000075em
    ), max(1vw, 1.5vh)); */
    --fontSize: calc(
        .65em
    );
    font-size: var(--fontSize);
    /* font-size: max(min(
        calc(
            min(max(max(.6vw, .6vh), .2em), .65em) * var(--camZoom)
        ),
        1em
    ), 0em); */
    --labelMinScale: .4em;
    width:  max(min(var(--width), 5.2em), var(--labelMinScale));
    height: max(var(--height), var(--labelMinScale));
    --labelBackgroundColor: rgba(128, 128, 128, .9);
    background-color: var(--labelBackgroundColor);
    overflow: hidden;
    --transitionDuration: .5s;
    transition:
    opacity          var(--transitionDuration) ease-out,
    color            var(--transitionDuration) ease-out,
    background-color var(--transitionDuration) ease-out;
    /* top : var(--topPx);
    left: var(--leftPx); */
    /* transform: translate3d(
        var(--leftPx),
        var(--topPx),
        0
    ); */
}
@keyframes label_edgeAnim {
    from {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: rotate(var(--differenceDeg));
    }
    to {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .arrow {
    position: absolute;
    width : var(--arrowScale);
    height: var(--arrowScale);
    font-size: 24px !important;
    border-radius: var(--arrowScale);
    display: flex;
    bottom: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:
    opacity .5s ease-in-out;
}
@keyframes labelShowAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: var(--labelOpacity);
    }
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel:not(.edge) {
    animation: labelShowAnim .5s ease-in-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.right {
    /* transform: translateX(-3.5em); */
    opacity: 1;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.left {
    /* transform: translateX(3.5em); */
    opacity: 1;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.right {
    align-items: flex-end;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.left {
    align-items: flex-start;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.right .arrow {
    /* left: calc(var(--arrowScale) * -1 - 10px); */
    top: calc(var(--arrowScale) * -1 - 10px);
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.left .arrow {
    /* right: calc(var(--arrowScale) * -1 - 10px); */
    top: calc(var(--arrowScale) * -1 - 10px);
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge:not(.alwaysShow) {
    opacity: 0;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.alwaysShow {
    /* --arrowScale: 25px; */
    transform: translate(var(--labelXPx), var(--labelYPx)) !important;
    opacity: 1;
    overflow: visible;
    font-size: .5em;
    z-index: 10001 !important;
    box-shadow: 0 0 10px gray;
    color: black;
    background-color: rgba(211, 211, 211, .75);
    transition:
    font-size var(--transitionDuration) ease-out,
    transform .5s ease-out;
    /* animation: label_edgeAnim .5s infinite; */
    /* margin-right: calc(var(--arrowScale) * 1); */
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.alwaysShow .title {
    opacity: 1;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.alwaysShow .arrow {
    transform: rotate(
        calc(
            var(--differenceDeg) + 45deg
        )
    );
    opacity: 1;
    --arrowScale: 1em;
    width : var(--arrowScale);
    height: var(--arrowScale);
    box-shadow: 0 0 10px gray;
    background-color: rgba(211, 211, 211, .75);
    /* position: relative; */
    top: 1.5em;
    /* background-color: transparent; */
    color: black;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.alwaysShow .arrow svg {
    width : 80%;
    height: 80%;
}
@keyframes arrowPath {
    from {
        stroke-dashoffset: var(--pathLength);
        opacity: 0;
    }
    25% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    to {
        /* stroke-dashoffset: var(--pathLength_minus); */
        opacity: 0;
    }
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.edge.alwaysShow .arrow svg path {
    stroke-width: 90;
    transform: translate(
         10%,
        -10%
    );
    /* animation: arrowPath 4s ease-in-out infinite; */
    animation: arrowPath 4s ease-in-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .cancelBtn {
    position: absolute;
    --arrowScale: 1em;
    width : var(--arrowScale);
    height: var(--arrowScale);
    top  : calc(var(--arrowScale) * -1);
    right: calc(var(--arrowScale) * -1);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .cancelBtn .bar {
    width: var(--arrowScale);
    height: .1em;
    background-color: gray;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel:not(.opened) {
    padding: 4px;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened {
    --labelPadding: 8px;
    padding: var(--labelPadding);
    border-radius: calc(var(--labelPadding) * 2);
    width:  var(--width);
    font-size: calc(var(--fontSize) * 1.25);
    height: calc(var(--height) - var(--labelPadding));
    margin-top: calc(var(--height) * -.1);
    z-index: 10001 !important;
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(10px);
    color: white;
    opacity: 1;
    --webkit-backdrop-filter: blur(10px);
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--transitionDuration) ease-in-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.over::after {
    opacity: 1;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel::after {
    background: linear-gradient(to left, var(--labelBackgroundColor) 0%, transparent 100%);
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened::after {
    background: transparent;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened .informations {
    pointer-events: auto;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .informations {
    pointer-events: none;
    position: relative;
    width: max-content;
    height: max-content;
    --maxWidth : 90vw;
    max-width: var(--maxWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    transition:
    opacity .5s ease-out,
    margin  .5s ease-out
    !important;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .informations img {
    position: relative;
    width : 100%;
    height: 100%;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .title {
    position: relative;
    width : max-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    opacity: max(calc(
        (
            60 - var(--camDistance) * var(--camDistance) * .5
        ) * .08
    ), max(calc(
        1 - (var(--camZoom) * var(--camZoom) * .5)
    ), .2));
    transition: opacity var(--transitionDuration) ease-in-out;
    display: flex;
    align-items: center;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.alwaysShow .title {
    opacity: 1;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .title span {
    display: flex;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened .title {
    transform: translateX(calc(
        var(--width) * .5 - 50%
    ));
    opacity: 1;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel div img {
    height: 1em;
    width : 1em;
    font-size: 1.25em;
    object-fit: cover;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened > div.title {
    margin-bottom: 10px;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened > div.informations {
    pointer-events: auto;
    opacity: 1;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel > div.informations {
    pointer-events: none;
    left: 0;
    text-align: left;
    opacity: 0;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel > div.informations .location {
    position: relative;
    margin-bottom: 15px;
    top: 0;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .emphasis {
    font-size: 1.5em !important;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel div.detail.button {
    position: relative;
    padding: 5px;
    border-radius: 8px;
    white-space: normal;
    max-width: 15em;
    width: max-content;
    height: min-content;
    padding-left : 10px;
    padding-right: 10px;
    cursor: default;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened div.detail.button.pressable {
    pointer-events: auto;
    cursor: pointer;
}

.content.main .exhibits .tile .content .compass {
    position: absolute !important;
    padding: 0;
    margin: 0;
    right: 5px;
    top: 0;
    --arrowScale: 1.6em;
    min-height: var(--arrowScale) !important;
    min-width: var(--arrowScale) !important;
    height: var(--arrowScale) !important;
    width: var(--arrowScale) !important;
    border-radius: var(--arrowScale);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile .content .compass img {
    width : 110%;
    height: 110%;
}
.content.main .exhibits .tile .content .compassBar {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    pointer-events: none;
    z-index: 10001;
}
.content.main .exhibits .tile .content .compassBar * {
    pointer-events: auto;
}
.content.main .exhibits .tile .content .buttons {
    position: absolute;
    top: 5px;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    --buttonsHeight: 1.3em;
    --topPos: calc(
        var(--bottomBarHeight) - var(--topMargin) - var(--buttonsHeight) * 2
    )
}
.content.main .exhibits .tile:not(.opened) .content .buttons.right,
.content.main .exhibits .tile:not(.opened) .content .buttons.left {
    opacity: 0;
    transition:
    top .5s ease-in-out,
    opacity .5s ease-in-out;
}
.content.main .exhibits .tile .content .buttons.right,
.content.main .exhibits .tile .content .buttons.left {
    top: var(--topPos);
}
.content.main .exhibits .tile .content .buttons.right {
    right: 5px;
    justify-content: flex-end;
}
.content.main .exhibits .tile .content .buttons.left {
    left: 5px;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.content.main .exhibits .tile .content .buttons.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    pointer-events: none;
    height: min-content;
    top: 0;
}
@keyframes showText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content.main .exhibits .tile .content .buttons.top .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    flex-shrink: 0;
    margin: 0;
}
.content.main .exhibits .tile .content .buttons .button {
    padding: 5px;
    margin: 2.5px;
    border-radius: .5em;
    min-width: 2.5em;
    font-size: 1.2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    --maxBorderRadius: .75em;
    max-height: var(--buttonsHeight);
    min-height: var(--buttonsHeight);
    transition:
    opacity .5s ease-in-out,
    box-shadow .5s ease-in-out;
}

.content.main .exhibits .tile .content .buttons.right .button:first-child {
    border-top-left-radius : var(--maxBorderRadius);
    border-top-right-radius: var(--maxBorderRadius);
}
.content.main .exhibits .tile .content .buttons.right .button:last-child {
    border-bottom-left-radius : var(--maxBorderRadius);
    border-bottom-right-radius: var(--maxBorderRadius);
}

.content.main .exhibits .tile .content .buttons.left .button:first-child {
    border-top-right-radius: var(--maxBorderRadius);
    border-bottom-right-radius: var(--maxBorderRadius);
}
.content.main .exhibits .tile .content .buttons.left .button:last-child {
    border-top-left-radius : var(--maxBorderRadius);
    border-bottom-left-radius : var(--maxBorderRadius);
}
.content.main .exhibits .tile .content .buttons.top .button {
    border-radius : var(--maxBorderRadius);
    padding-left : 5px;
    padding-right: 5px;
}

.content.main .exhibits .tile .content .buttons .button.invalid {
    opacity: .5;
    box-shadow: none;
}
.content.main .exhibits .tile .content > div canvas {
    position: absolute;
    bottom: 0;
}
.content.main .exhibits .tile .tags.listView .tag {
    cursor: pointer;
    user-select: none;
    opacity: 1;
    transition:
    margin-bottom .25s ease-out,
    opacity .25s ease-out;
    transition-delay: .1s;
}
.content.main .exhibits .tile:not(.opened) .tags.listView .tag {
    opacity: .75 !important;
    pointer-events: none;
}
.content.main .exhibits .tile.nowBeingHeld .tags.listView .tag {
    transition: none;
}
.content.main .exhibits .tag {
    cursor: default;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    padding-top: 0.1em;
    padding-left : 0.15em;
    padding-right: 0.25em;
    padding-bottom: 0.1em;
    position: relative;
    font-weight: bold;
    margin: .25em;
    border-radius: calc(.5em + 2.25px);
    height: 1.5em;
    width: max-content;
    align-items: center;
}
.content.main .exhibits .tag span {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}