.content.main {
    min-height: 100vh;
}
.content.main .exhibits {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    min-height: 100vh;
}
.content.main .exhibits .list {
    overflow-x: hidden;
    padding-bottom: 10px;
    z-index: 9;
    display: flex;
    flex-direction: column;
}
@keyframes tag_show {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: var(--tileOpacity);
    }
}
.content.main .exhibits .tile {
    --baseOpacity: .2;
    --baseHeight: 200px;
    --baseBackgorundRGB: 211, 211, 211;
    --padding: 8px;
    margin: var(--exhibitsTileMargin);
    margin-bottom: 0;
    width: calc(100% - var(--exhibitsTileMargin) * 2);
    height: var(--baseHeight);
    border-radius: 10px;
    background-color: rgba(var(--baseBackgorundRGB), .25);
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    animation: tag_show .5s backwards;
    transition:
    height  .5s ease-in-out,
    margin  .5s ease-in-out,
    opacity .5s ease-in-out;
}
.content.main .exhibits .list .tile {
    height: var(--baseHeight);
}
.content.main .exhibits .list .tile::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
    background: linear-gradient(
        to bottom,
        transparent 20%,
        white 80%
    );
    z-index: 4;
    opacity: 1;
    pointer-events: none;
}
.content.main .exhibits .list .tile.opened::before {
    opacity: 0;
}
.content.main .exhibits .tile.hidden {
    opacity: var(--baseOpacity);
    pointer-events: none;
    --whenHiddenHeight: 2.5em;
    height: var(--whenHiddenHeight);
}
.content.main .exhibits .tile.hidden:last-child {
    margin-bottom: calc(
        (var(--baseHeight) - var(--whenHiddenHeight)) * (var(--numOfTile) - var(--numOfVisibleTile))
    );
}
.content.main .exhibits .tile.hidden .tags {
    opacity: 0;
}
.content.main .exhibits .tile.opened {
    /* height: min(60vh, 600px); */
    height: max(
        var(--tileOpenHeight), calc(var(--baseHeight) + 50px)
    );
}

.content.main .exhibits .tile .description {
    top: 15px;
    position: relative;
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
}

.content.main .exhibits .tile.sortList * {
    touch-action: pan-x;
}
.content.main .exhibits .tile.sortList {
    touch-action: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: var(--bottomBarHeight);
    width: calc(100% - var(--exhibitsTileMargin) * 2);
    right: 0;
    bottom: 10px;
    z-index: 10;
    overflow: hidden;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.content.main .exhibits .tile.sortList .topBar {
    top: 0;
    width: 100%;
    height: var(--topBarHeight);
    display: flex;
    justify-content: center;
}
.content.main .exhibits .tile.sortList .topBar svg {
    margin-top: 5px;
    height: 1.75em;
    width: 1.75em;
    pointer-events: none;
    transform-origin: 50% 50%;
    position: relative;
    display: flex;
    justify-content: center;
    transition:
    opacity .5s ease-in-out,
    transform .5s ease-in-out;
}
.content.main .exhibits .tile.sortList .tabs {
    height: var(--tabsHeight);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile.sortList .tabs .tab {
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.content.main .exhibits .tile.sortList .tabs .tab:first-of-type {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
}
.content.main .exhibits .tile.sortList .tabs .tab:last-of-type {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
}

.content.main .exhibits .tile.sortList .topBar svg g {
    transform-origin: 50% 50%;
    transform: translateY(15%);
}
.content.main .exhibits .tile.sortList .topBar svg g path {
    /* transform-origin: 51.3% 54.4%; */
    stroke-width: 60px;
    animation: none !important;
    transform: rotate(-225deg) !important;
    stroke-dashoffset: 0;
    opacity: 1 !important;
    transition:
    opacity .5s ease-in-out,
    stroke-dashoffset .5s ease-in-out;
}
.content.main .exhibits .tile.sortList .topBar svg g.close {
    transform: translateY(-15%) rotate(180deg) !important;
}
.content.main .exhibits .tile.sortList .topBar svg g.close path {
    stroke-dashoffset: var(--pathLength);
    opacity: 0 !important;
}
.content.main .exhibits .tile.sortList.opened .topBar svg g.close path {
    stroke-dashoffset: 0;
    opacity: 1 !important;
}
.content.main .exhibits .tile.sortList.opened .topBar svg g path {
    stroke-dashoffset: var(--pathLength);
    opacity: 0 !important;
}


.content.main .exhibits .tile .tags::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.content.main .exhibits .tag span {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile .names {
    position: relative;
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
}
.content.main .exhibits .tile .names .subText {
    position: absolute;
    right: 10px;
}
.content.main .exhibits .tile .tags {
    position: absolute;
    font-size: 1em;
    color: gray;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    transition: opacity .5s ease-in-out;
    z-index: 5;
}
.content.main .exhibits .list .tile .tags > .tagsContent {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.content.main .exhibits .list .tile .tags {
    position: absolute;
}
.content.main .exhibits .list .tile .tags::before,
.content.main .exhibits .list .tile .tags::after {
    content: "";
    position: absolute;
    pointer-events: none;
    display: block;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    opacity: calc(1 - var(--scrollRatio));
    z-index: 6;
}
.content.main .exhibits .list .tile .tags::before {
    right: 0;
    background: linear-gradient(to left, white 0%, transparent 100%);
    opacity: calc(1 - var(--scrollRatio));
}
.content.main .exhibits .list .tile .tags::after {
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 100%);
    opacity: var(--scrollRatio);
}

.content.main .exhibits .tile .tags::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.content.main .exhibits .tile .tabs .tab {
    opacity: .5;
    transition: opacity .5s ease-in-out;
}
.content.main .exhibits .tile .tabs .tab.selected {
    opacity: 1;
}
.content.main .exhibits .tile .content {
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.content.main .exhibits .tile .content::-webkit-scrollbar {
    display: none;
}
.content.main .exhibits .tile .content > div {
    /* height: calc(100% - 16px); */
    scroll-snap-align: start;
    flex-shrink: 0;
    top: 0;
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    /* white-space: normal; */
}

.content.main .exhibits .tile .content > .mapsView {
    height: calc(80vh - 185px);
    bottom: 0;
    user-select: none;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition {
    transition:
    opacity                  var(--duration) ease-out,
    z-index                  var(--duration) ease-out,
    width                    var(--duration) ease-out,
    height                   var(--duration) ease-out,
    margin                   var(--duration) ease-out,
    padding                  var(--duration) ease-out,
    backdrop-filter          var(--duration) ease-out,
    --webkit-backdrop-filter var(--duration) ease-out,
    box-shadow               var(--duration) ease-out,
    border-radius            var(--duration) ease-out,
    opacity                  var(--duration) ease-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition span {
    transition:
    margin var(--duration) ease-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.addTransition .title {
    transition: transform .5s ease-out;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.invalid {
    opacity: var(--labelOpacity);
    pointer-events: none;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel {
    position: absolute;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    padding: 0;
    border-radius: .5em;
    z-index: var(--zIndex);
    font-size: var(--fontSize);
    transform: scale(var(--scale));
    width:  var(--width);
    height: var(--height);
    background-color: rgba(128, 128, 128, .75);
    overflow: hidden;
    transition: opacity .5s ease-out;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .cancelBtn {
    position: absolute;
    --scale: 1em;
    width : var(--scale);
    height: var(--scale);
    top  : calc(var(--scale) * -1);
    right: calc(var(--scale) * -1);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .cancelBtn .bar {
    width: var(--scale);
    height: .1em;
    background-color: gray;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel:not(.opened) {
    padding: 4px;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened {
    --labelPadding: 8px;
    padding: var(--labelPadding);
    border-radius: calc(var(--labelPadding) * 2);
    width:  var(--width);
    height: calc(var(--height) - var(--labelPadding));
    margin-top: calc(var(--height) * -.5);
    z-index: 10001 !important;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .informations {
    position: relative;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    transition:
    opacity .5s ease-out,
    margin  .5s ease-out
    !important;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .title {
    position: relative;
    width : max-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .title span {
    display: flex;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened .title {
    transform: translateX(calc(
        var(--width) * .5 - 50%
    ));
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel div img {
    height: 1.5em;
    width : 1.5em;
    font-size: 1.25em;
    object-fit: cover;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened > div.title {
    margin-bottom: 10px;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel.opened > div.informations {
    opacity: 1;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel > div.informations {
    left: 0;
    text-align: left;
    opacity: 0;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel > div.informations .location {
    margin-top   : 0;
    margin-bottom: 10px;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel .emphasis {
    font-size: 1.5em !important;
}

.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel div.detail.button {
    position: relative;
    padding: 5px;
    border-radius: 8px;
    white-space: normal;
    max-width: 15em;
    width: max-content;
    height: min-content;
    padding-left : 10px;
    padding-right: 10px;
    cursor: normal;
}
.content.main .exhibits .tile .content .mapsView .labelsArea .mapsLabel div.detail.button.pressable {
    pointer-events: auto;
    cursor: pointer;
}

.content.main .exhibits .tile .content .compass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(211, 211, 211, .25);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}
.content.main .exhibits .tile .content .compass img {
    width: 100%;
    height: 100%;
}
.content.main .exhibits .tile .content .compassBar {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    pointer-events: none;
    z-index: 10001;
}
.content.main .exhibits .tile .content .compassBar * {
    pointer-events: auto;
}
.content.main .exhibits .tile .content .buttons {
    position: absolute;
    top: 5px;
    z-index: 10001;
}
.content.main .exhibits .tile .content .buttons.right {
    right: 5px;
}
.content.main .exhibits .tile .content .buttons.left {
    left: 10px;
    bottom: 80px;
}
.content.main .exhibits .tile .content .buttons .button {
    padding: 5px;
    margin: 5px;
    min-width: 2.5em;
    text-align: center;
    transition:
    opacity .5s ease-in-out,
    box-shadow .5s ease-in-out;
}
.content.main .exhibits .tile .content .buttons .button.invalid {
    opacity: .5;
    box-shadow: none;
}

.content.main .exhibits .tile .content > div canvas {
    position: absolute;
}
.content.main .exhibits .tile .tags.listView .tag {
    cursor: pointer;
    user-select: none;
    opacity: 1;
    transition:
    margin-bottom .25s ease-out,
    opacity .25s ease-out;
    transition-delay: .1s;
}
.content.main .exhibits .tile:not(.opened) .tags.listView .tag {
    opacity: .75 !important;
    pointer-events: none;
}
.content.main .exhibits .tile.nowBeingHeld .tags.listView .tag {
    transition: none;
}
.content.main .exhibits .tag {
    cursor: default;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    padding: .1em .2em .1em .1em;
    position: relative;
    font-weight: bold;
    margin: .25em;
    border-radius: 5px;
    height: 1.5em;
    width: max-content;
    align-items: center;
}
.content.main .exhibits .tag span {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}