body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Outfit_Local", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
}


.content.top .topTitle svg {
    transform: translateY( calc(var(--scrollPx) * -1) );
}
.content.top .topTitle svg path {
    transform: scale(1.5);
    transform-origin: 35% 25%;
}

.content.top .bottomBar {
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.top .bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.top .bottomBar svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes arrow {
    from {
        stroke-dasharray: var(--pathLength);
        opacity: 0;
    }
    50% {
        stroke-dashoffset: 0;
        opacity: .5;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.content.top .button {
    animation: opacity_0to1 .5s ease-in-out both !important;
    animation-delay: 2.5s !important;
}

.content.top .bottomBar svg path {
    stroke-width: 50;
    transform: rotate(-45deg);
    animation: arrow 2s ease-in-out infinite !important;
    animation-delay: 2.5s !important;
}

.content.main {
    margin: 0;
    padding: 0;
    --pagesPadding: 20px;
    --pageWidth : calc(100vw - var(--pagesPadding) * 2);
    --pageSetWidth: calc(var(--pageWidth) + var(--pagesPadding) * 2);
    /* --pageHeight: calc(var(--pageWidth) * 1.4075829384); */
    --pageHeight: calc((100vh - 150px) - var(--topBarHeight) - var(--pagesPadding));

    /* height: calc(100vw * var(--numOfPageContents)); */
    /* (var(--pageWidth) + var(--pagesPadding)) * var(--numOfPageContents) */
    /* height: calc(
        (var(--pageWidth) + var(--pagesPadding)) / var(--pageSlideRatio) * var(--numOfPageContents)
    ); */
    height: var(--totalHeight);
    max-width: 100vw;
    position: relative;
}
@media (min-width: 800px) {
    .content.main {
        --pageWidth : calc(50vw - var(--pagesPadding) * 2);
    }
}

.content.main .pages.showNow .buttons {
    opacity: 1;
    pointer-events: auto;
}
.content.main .pages .buttons {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    top: calc(var(--pageHeight) + 100px);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 10;
    transition: opacity .5s ease-in-out;

    /* transform: translateX(var(--scrollLeftPx)); */
    /* transform: translateX(calc(
        (min(var(--scrollLeftRatio), 1) * var(--numOfPageContents)) * var(--pageSetWidth)
    )); */
}
.content.main .pages .buttons .button {
    width: min-content;
    margin: 20px;   
    user-select: none;
    --buttonScale: 1.3em;
    width : var(--buttonScale);
    height: var(--buttonScale);
    transition: opacity .5s ease-in-out;
}
.content.main .pages .buttons .button.invalid {
    opacity: .5;
    pointer-events: none;
}
.content.main .pages .buttons .button svg {
    width: 100%;
    height: 100%;
    transform: translateX(15%) rotate(45deg);
}
.content.main .pages .buttons .button svg path {
    stroke-width: 100;
}
.content.main .pages .buttons .button:last-child {
    transform: scale(-1);
}

.content.main .pages {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: calc(var(--topBarHeight) - var(--pagesPadding) * 2);
    /* padding-top: var(--topBarHeight); */
    /* padding: var(--pagesPadding); */
    left: 0;
    /* gap: var(--pagesPadding); */
    width : 100vw;
    height: calc(100vh - var(--topBarHeight) + var(--pagesPadding) * 2);
    /* --pageSlideThreshold: calc(100vh + var(--topBarHeight) * .5); */
    /* transform: translateX(calc(
        (max(var(--scrollPx), var(--pageSlideThreshold)) - var(--pageSlideThreshold)) * -1 * var(--pageSlideRatio)
    )); */
    scroll-snap-type: x mandatory;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.content.main .pages::-webkit-scrollbar {
    display: none;
}
.content.main .pages .pageSet {
    user-select: none;
    position: relative;
    top: 0;
    width : var(--pageSetWidth);
    height: calc(var(--pageHeight) + var(--pagesPadding) * 2 + 35px);
    flex-shrink: 0;
}
.content.main .pages .page {
    position: relative;
    /* scroll-snap-align: start; */
    /* margin-left: calc(var(--pageWidth) * var(--contentsIndex)); */
    box-shadow: 0 0 10px gray;
    border-radius: var(--pagesPadding);
    flex-shrink: 0;
    top: calc(var(--pagesPadding) * 2);
    left: var(--pagesPadding);
    padding: var(--pagesPadding);
    width : calc(var(--pageWidth) - var(--pagesPadding) * 2);
    height: calc(var(--pageHeight) - var(--pagesPadding) * 2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* opacity: max(
        calc(
            var(--scrollLeftRatio) * var(--numOfPageContents) - var(--contentsIndex) + 1.5
        ),
        .2
    ); */
    transition: opacity .5s ease-in-out;
}
.content.main .pages .page:last-child {
    margin-right: var(--pagesPadding);
}

.content.main .pages .page svg,
.content.main .pages .page img {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: contain;
}
.content.main .pages .page img {
    --padding: 0;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
}
.content.main .pages .page svg image {
    height: 100%;
    width: 100%;
}
.content.main .pages .page svg path {
    transform: scaleY(-1);
    stroke-width: 42;
    /* stroke-dashoffset: var(--pathLength); */
    transition: stroke-dashoffset .5s ease-in-out;
}
.content.main .pages .pageSet .noble {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: var(--pageSetWidth);
}