:root {
    --base_backgroundColor: 255, 255, 255;
    --base_color: 0, 0, 0;

    --checkBox_BaseWidth: 1.1em;
    --checkBox_borderWidth: 1.5px;
    --exhibitsTileMargin: 10px;
    --topBarMargin: 10px;
    --sortListArea_heightBase: 200px;

    --topBarHeight: 100px;
    /* --checkPathLength: 849.9996337890625; */
}
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Outfit_Local", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    transition: opacity .5s ease-in-out;
    color: rgb(var(--base_color));
    background-color: rgb(var(--base_backgroundColor));
    overflow-x: hidden;
}
.content.top {
    height: 50vh;
    width: 100vw;
    position: relative;
    margin-bottom: 50px;
}
.content.top.fullSize {
    height: 100vh;
}
.content.topTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.content.topTitle svg,
.content.topTitle img,
.content.topTitle video,
.content.topTitle .videoFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    height: 100vh;
    width : 100vw;
}

.content.topTitle video {
    opacity: 0;
    animation: opacity_0to1 3s ease-in-out forwards;
    object-fit: cover;
    animation-delay: .5s;
    width: 100%;
    height: 100%;
    user-select: none;
}
.content.topTitle .videoFilter {
    height: calc(100% + 50px);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    background-color: rgba(var(--base_backgroundColor), .6);
}
@keyframes opacity_0to1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content.topTitle svg {
    --scale: min(100vw, 80vh);
    width : var(--scale);
    height: var(--scale);
    transform: translateY(2.5vh);
}
svg {
    position: relative;
    /* width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; */
}
@keyframes drawPath {
    from {
        stroke-dashoffset: var(--pathLength);
    }
    to {
        stroke-dashoffset: 0;
    }
}
svg path, svg rect {
    position: absolute;
    fill: none;
    stroke: black;
    stroke-width: 3;
    opacity: 0;
    stroke-dasharray: var(--pathLength);
    transform-origin: 50% 50%;
}
svg.anim path, svg.anim rect {
    stroke-dashoffset: var(--pathLength);
    animation: drawPath 1.25s ease-in-out both;
}
.content.top svg {
    width: 100vw;
    max-width: 900px;
    max-height: 450px;
}
.content.top svg path {
    stroke-width: 3;
}
.content.topTitle svg path.countDown {
    animation-delay: 3s;
}
.content.top .button {
    position: absolute;
    right: 20px;
    bottom: 0;
}
.button {
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(211, 211, 211, .25);
    box-shadow: 0 0 10px gray;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}
.topBars {
    width: 100vw;
    height: var(--topBarHeight);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.topBars .topBar_filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    transition:
    background-color .5s ease-in-out,
    backdrop-filter .5s ease-in-out,
    --webkit-backdrop-filter .5s ease-in-out;
}
.topBars .topBar {
    pointer-events: auto;
    top: 5px;
    --topBarMargin: 10px;
    width: calc(100vw - var(--topBarMargin) * 4);
    margin: var(--topBarMargin);
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    border-radius: calc(40px - var(--topBarMargin));
    background-color: rgba(var(--base_backgroundColor), .1);
    cursor: default;
    align-items: center;
    position: relative;
    display: block;
    align-items: center;
    transition:
    height .5s ease-in-out,
    opacity .5s ease-in-out,
    background-color .5s ease-in-out,
    box-shadow .5s ease-in-out,
    animation .5s ease-in-out,
    backdrop-filter .5s ease-in-out,
    --webkit-backdrop-filter .5s ease-in-out;
}
.topBars .topBar svg.menuOpen_button {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    right: 20px;
    z-index: 20;
}
.topBars .topBar svg.menuOpen_button > g {
    transform: translateY(-25%);
    width: 100%;
    height: 100%;
}
.topBars .topBar svg.menuOpen_button path {
    animation: none !important;
    stroke-width: 80px !important;
    stroke-dashoffset: 0 !important;
    transition:
    stroke-dashoffset 1s ease-in-out,
    opacity .5s ease-in-out;
}
.topBars.opened .topBar svg.menuOpen_button .open path {
    stroke-dashoffset: var(--pathLength) !important;
    opacity: 0 !important;
}
.topBars.opened .topBar svg.menuOpen_button .close path {
    stroke-dashoffset: 0 !important;
    opacity: 1 !important;
}
.topBars .topBar svg.menuOpen_button .close path {
    stroke-dashoffset: var(--pathLength) !important;
    opacity: 0 !important;
}

.topBars .topBar .topBar_menus {
    height: 40px;
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left : 20px;
    padding-right: 20px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.topBars .topBar .topBar_menus::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.topBars.opened .topBar {
    height: calc(40vh - 40px) !important;
}
.topBars.opened .topBar_filter {
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(var(--base_backgroundColor), .2);
    pointer-events: auto;
}
.topBars .topBar .content {
    margin-right: 15px;
    display: inline-block;
    /* display: flex;
    white-space: nowrap;
    justify-content: left;
    align-items: center; */
}
.topBars .topBar .content > a {
    margin: 10px;
}
.topBars .topBar .content svg {
    height: 2.5em;
    width : 2.5em;
    padding: 0;
    margin: 0;
}
.topBars .topBar .content svg path {
    stroke-width: 50;
    fill: black;
}
@keyframes topBarShow {
    0% {
        opacity: 0;
        width: 0;
        transform: translateY(-50px);
    }
    35% {
        opacity: 1;
        transform: translateY(8px);
    }
    50% {
        width: calc(100vw - var(--topBarMargin) * 4 + 5px);
    }
    60% {
        width: calc(100vw - var(--topBarMargin) * 4 - 5px);
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        width: calc(100vw - var(--topBarMargin) * 4);
        transform: translateY(0);
    }
}
@keyframes topBarHidden {
    30% {
        opacity: 0;
        width: 0;
        transform: translateY(-50px);
    }
    65% {
        opacity: 1;
        transform: translateY(8px);
    }
    80% {
        width: calc(100vw - var(--topBarMargin) * 4 + 5px);
    }
    90% {
        width: calc(100vw - var(--topBarMargin) * 4 - 5px);
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        width: calc(100vw - var(--topBarMargin) * 4);
        transform: translateY(0);
    }
}
.topBars .topBar.hidden {
    opacity: 0;
}

.content.main {
    opacity: 1;
    min-height: 50vh;
    padding: 10px;
}

.emphasisText {
    font-size: 150%;
}

.subText {
    font-size: 75%;
}
.checkBox {
    border-radius: 5px;
    position: absolute;
    border: var(--checkBox_borderWidth) solid white;
    height: calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    width : calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    display: inline-block;
    overflow: visible;
    position: relative;
    margin: 5px;
    margin-right: 2px;
    top: 0;
    opacity: .5;
    transition:
    background-color .5s ease-in-out;
}
.checkedBox .checkBox {
    position: relative;
    opacity: 1;
    background-color: lightgray;
    overflow: hidden;
}
.checkBox svg.anim {
    overflow: visible;
    position: absolute;
    transform: translateY(10%);
}
.checkBox svg.anim path {
    transform: scale(1.25) translate(1%, -1%);
    stroke: black;
    animation: none !important;
    stroke-dasharray: var(--pathLength) !important;
    stroke-dashoffset: var(--pathLength) !important;
    stroke-width: 125;
}
.checkedBox .checkBox svg.anim path {
    stroke-dashoffset: 0 !important;
}
.checkedBox {
    opacity: 1 !important;
}

.footers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    --margin: 20px;
    bottom: var(--margin);
    padding: var(--margin);
}
.footers .footer {
    overflow: auto;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.footers .footer .title {
    display: flex;
    align-items: center;
}
.footers .footer span.name {
    margin-top: 5px;
    font-size: .6em;
    position: absolute;
    bottom: 20px;
}
.footers .footer .footer_partition {
    background-color: black;
    position: relative;
    left: 0;
    width: 100%;
    height: 1px;
}
a {
    color: var(--base_color);
    text-decoration: none;
}
.footers .footer a {
    display: block;
    width: max-content;
    margin-bottom: 5px;
}
@keyframes a_hover {
    from {
        border-bottom: 1px;
    }
    to {
        border-bottom: 1px;
    }
}
.footers .footer .pageList {
    margin-top: 10px;
}
a .underLine {
    height: 1px;
    width: 0;
    background-color: black;
    transition: width .5s ease-in-out;
}
a:hover .underLine {
    width: 100%;
}
.footers .footer .underLine {
    margin-top: 5px;
    margin-bottom: 5px;
}
.footers .footer .content.title {
    font-size: 1.5em;
}