:root {
    --base_backgroundColor: 255, 255, 255;
    --base_color: 0, 0, 0;

    --checkBox_BaseWidth: 1.1em;
    --checkBox_borderWidth: 1.5px;
    --exhibitsTileMargin: 10px;
    --topBarMargin: 10px;
    --sortListArea_heightBase: 200px;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", "Outfit_Local", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    transition: opacity .5s ease-in-out;
    opacity: 1 !important;
    color: rgb(var(--base_color));
    background-color: rgb(var(--base_backgroundColor));
}
.content.top {
    height: calc(50vh - 100px);
    width: 100vw;
    position: relative;
}
.content.top.fullSize {
    height: calc(100vh - 100px);
}
.content.topTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.content.topTitle svg,
.content.topTitle img,
.content.topTitle video,
.content.topTitle .videoFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    height: 100vh;
    width : 100vw;
}
.content.topTitle video {
    opacity: 0;
    object-fit: cover;
    animation: topBackground 3s ease-in-out forwards;
    animation-delay: .5s;
    width: 100%;
    height: 100%;
}
.content.topTitle .videoFilter {
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    background-color: transparent;
}
@keyframes topBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}
.content.topTitle svg {
    --scale: min(100vw, 100vh);
    width : var(--scale);
    height: var(--scale);
}
svg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes drawPath {
    from {
        stroke-dashoffset: var(--pathLength);
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
svg path {
    position: absolute;
    fill: none;
    stroke: black;
    stroke-width: 2;
    opacity: 0;
    animation: drawPath 2.5s ease-in-out both;
    transform-origin: 50% 50%;
}
.content.topTitle svg path.countDown {
    animation-delay: 3s;
}
.content.top .button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.button {
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(211, 211, 211, .25);
    box-shadow: 0 0 10px gray;
    border-radius: 40px;
    padding: 10px;
}
.topBarReduced {
    --reduce: 100px;
    height: var(--reduce) !important;
    margin-top: calc(var(--exhibitsTileMargin) + var(--sortListArea_heightBase) - var(--reduce)) !important;
}
.topBars {
    width: 100vw;
    height: 100px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.topBars .topBar_filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    transition:
    background-color .5s ease-in-out,
    backdrop-filter .5s ease-in-out,
    --webkit-backdrop-filter .5s ease-in-out;
}
.topBars .topBar {
    pointer-events: auto;
    top: 5px;
    --topBarMargin: 10px;
    width: calc(100vw - var(--topBarMargin) * 4);
    margin: var(--topBarMargin);
    height: 40px;
    border-radius: calc(40px - var(--topBarMargin));
    background-color: rgba(var(--base_backgroundColor), .1);
    cursor: default;
    align-items: center;
    position: relative;
    transition:
    height .5s ease-in-out,
    opacity .5s ease-in-out,
    background-color .5s ease-in-out,
    box-shadow .5s ease-in-out,
    animation .5s ease-in-out,
    backdrop-filter .5s ease-in-out,
    --webkit-backdrop-filter .5s ease-in-out;
}
.topBars .topBar .topBar_menus {
    height: 40px;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.topBars.opened .topBar {
    height: calc(40vh - 40px) !important;
}
.topBars.opened .topBar_filter {
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    background-color: rgba(var(--base_backgroundColor), .2);
    pointer-events: auto;
}
.topBars .topBar .content {
    margin-right: 15px;
    display: flex;
    white-space: nowrap;
    justify-content: left;
    align-items: center;
}
.topBars .topBar .content div {
    margin: 10px;
}
.topBars .topBar .content svg {
    height: 2.5em;
    width : 2.5em;
    padding: 0;
    margin: 0;
}
.topBars .topBar .content svg path {
    stroke-width: 50;
    fill: black;
}
@keyframes topBarShow {
    0% {
        opacity: 0;
        width: 0;
        transform: translateY(-50px);
    }
    35% {
        opacity: 1;
        transform: translateY(8px);
    }
    50% {
        width: calc(100vw - var(--topBarMargin) * 4 + 5px);
    }
    60% {
        width: calc(100vw - var(--topBarMargin) * 4 - 5px);
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        width: calc(100vw - var(--topBarMargin) * 4);
        transform: translateY(0);
    }
}
@keyframes topBarHidden {
    30% {
        opacity: 0;
        width: 0;
        transform: translateY(-50px);
    }
    65% {
        opacity: 1;
        transform: translateY(8px);
    }
    80% {
        width: calc(100vw - var(--topBarMargin) * 4 + 5px);
    }
    90% {
        width: calc(100vw - var(--topBarMargin) * 4 - 5px);
        transform: translateY(-2px);
    }
    100% {
        opacity: 1;
        width: calc(100vw - var(--topBarMargin) * 4);
        transform: translateY(0);
    }
}
.topBars .topBar.hidden {
    opacity: 0;
}

.content.main {
    opacity: 1;
}

.emphasisText {
    font-size: 150%;
}

.subText {
    font-size: 75%;
}
.checkBox {
    border-radius: 5px;
    position: absolute;
    border: var(--checkBox_borderWidth) solid white;
    height: calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    width : calc(var(--checkBox_BaseWidth) - var(--checkBox_borderWidth) * 2);
    display: inline-block;
    position: relative;
    margin: 5px;
    margin-right: 2px;
    top: 0;
    opacity: .5;
    transition: 
    ease-in-out .1s background-color;
}
.checkedBox .checkBox {
    opacity: 1;
    background-color: lightgray;
}
.checkedBox {
    opacity: 1 !important;
}

.footers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    --margin: 20px;
    bottom: var(--margin);
    padding: var(--margin);
}
.footers .footer .title {
    display: flex;
    align-items: center;
}
.footers .footer {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.footers .footer span.name {
    margin-top: 5px;
    font-size: .6em;
    position: absolute;
    bottom: 20px;
}
.footers .footer .footer_partition {
    background-color: black;
    position: relative;
    left: 0;
    width: 100%;
    height: 1px;
}
.footers .footer a {
    color: var(--base_color);
    text-decoration: none;
    display: block;
    width: max-content;
    margin-bottom: 5px;
}
@keyframes a_hover {
    from {
        border-bottom: 1px;
    }
    to {
        border-bottom: 1px;
    }
}
.footers .footer .pageList {
    margin-top: 10px;
}
.footers .footer .underLine {
    height: 1px;
    width: 0;
    background-color: black;
    transition: width .5s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footers .footer a:hover .underLine {
    width: 100%;
    /* animation: a_hover .5s ease-in-out both; */
}
.footers .footer .content.title {
    font-size: 1.5em;
}