:root {
    --blockCaseWidth: 4;
    --blockCaseHeight: 5;
    --blockSide:
    calc(
        min(
            calc(
                100dvw / var(--blockCaseWidth) - 4px
            ),
            calc(
                100dvh / var(--blockCaseHeight) - 4px - (50px / var(--blockCaseHeight))
                )
            )
        );
    --sampleBlockCaseWidth: 4;
    --sampleBlockCaseHeight: 5;
    --sampleBlockSide:
    calc(
        min(
            calc(
                (90vw - 10px) / var(--sampleBlockCaseWidth) - 4px
            ),
            calc(
                (75vh) / var(--sampleBlockCaseHeight) - 4px - (50px / var(--sampleBlockCaseHeight))
            )
        )
    );
    --popupHeight: 75vh;
    --topMenuHeight: 70px; 
    --blockColor: white;
    --blockBackgroundColor: black;
    --popupBackgroundColor: 220, 220, 220;
    --swipeAnimetionDuration: .05s;
    --clearedBlockAnimationBC: coral;
    color:chocolate;
    /* --swipeAnimetionDuration: .02s; */
    --documentBackgroundColor: white;
    --documentBaseColor: black;
    --blockOutlineColor: transparent;
    --blockSortAssistOutlineWidth: 5px;
}
@font-face {
    font-family: "Outfit_Local";
    src: url("../fonts/Outfit-VariableFont_wght.ttf") format('woff2'),
         url("../fonts/Outfit-VariableFont_wght.ttf") format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    user-select: none;
}
body {
    margin: 0;
    color: var(--blockColor);
    font-family: "Outfit", "Outfit_Local", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    overflow: hidden;
    overscroll-behavior: none;
    padding-bottom: calc(env(safe-area-inset-bottom) * .75);
    background-color: var(--documentBackgroundColor);
}
img {
    user-select: none;
}
button:focus {
    outline: none;
}
.topMenu {
    position: absolute;
    height: var(--topMenuHeight);
    font-size: 2em;
    width: 100dvw;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.topMenu::selection {
    background-color: white;
}
.topMenu .menuTitle {
    z-index: 120;
    font-size: .9em;
    position: absolute;
    color: var(--documentBaseColor);
    transition: 1s;
}
.timeDisplayNumBlocks span {
    display: inline-block;
    width: 1.3em;
    justify-content: right;
    text-align: right;
}
.topMenu .expandableMenuBtn {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 15px;
    transform: translateY(-4px);
    background-color: transparent;
    z-index: 120;
}
.topMenu .expandableMenuBtn div {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    height: 3px;
    width: 100%;
    display: flex;
    top: 12.5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--documentBaseColor);
    transition: 1s;
}
@keyframes menuStickRotate1 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickRotate2 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickOpacityErase {
    0% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
.menuStickRotate1Animation {
    animation: menuStickRotate1 .5s ease-in-out both;
}
.menuStickRotate2Animation {
    animation: menuStickRotate2 .5s ease-in-out both;
}
.menuStickEraseAnimation {
    animation: menuStickOpacityErase .25s ease-in-out both;
}
@keyframes menuStickReverseRotate1 {
    0% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickReverseRotate2 {
    0% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickOpacityReverseErase {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
.menuStickRotateReverse1Animation {
    animation: menuStickReverseRotate1 .5s ease-in-out both;
}
.menuStickRotateReverse2Animation {
    animation: menuStickReverseRotate2 .5s ease-in-out both;
}
.menuStickEraseReverseAnimation {
    animation: menuStickOpacityReverseErase .25s ease-in-out both;
    animation-delay: .25s;
}
#blocks {
    position: relative;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    margin-top: 1.5px;
    line-height: 0;
    width: 100dvw;
    height: 100dvh;
}
.popup.blockCaseChangePopup .consoles .sampleBlocks {
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    margin-top: 1.5px;
    line-height: 0;
}
.popup .timerIcon, .popup .handIcon {
    position: absolute;
    left: 10vw;
    height: 1.5em;
    display: flex;
    align-content: center;
}
.popup .timerIcon.hands {
    rotate: 0deg;
}
@media screen and (max-width: 500px) {
    .popup .timerIcon, .popup .handIcon {
        --iconHeight: clamp(1em, 10vw, 1.5em);
        left: -10px;
        height: var(--iconHeight);
        transform: translateY(calc(var(--iconHeight) * -.35 + 15px));
    }
}
#blocks div p {
    position: relative;
    color: var(--blockColor);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17.5%;
    font-size: calc(var(--blockSide) * .3);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#blocks div, .popup.blockCaseChangePopup .consoles .sampleBlocks div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
#blocks div {
    /* animation: clearedBlock 4s ease-in-out infinite; */
    height: var(--blockSide);
    width: var(--blockSide);
    background-color: var(--blockBackgroundColor);
    border-radius: calc(var(--blockSide) / 10);
    outline: 1.5px solid;
    outline-color: var(--blockOutlineColor);
    outline-offset: -1.5px;
    margin: 1.5px;
    transition: .25s ease-in-out background-color;
    transition: .25s ease-in-out box-shadow;
}
#blocks div.air {
    /* background-color: rgb(242, 242, 242); */
    outline: 0 transparent;
    background-color: transparent;
    color: transparent;
}
#blocks div.A_2by1 {
    height: calc(var(--blockSide) * 2);
}
#blocks div.A_2by2 {
    height: calc(var(--blockSide) * 2);
    width: calc(var(--blockSide) * 2);
}
#blocks div.A_1by2 {
    width: calc(var(--blockSide) * 2);
}
@keyframes leftSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rightSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes upSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes downSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateY(0);
    }
}
.leftSwipeAnimetion {
    animation: leftSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.rightSwipeAnimetion {
    animation: rightSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.upSwipeAnimetion {
    animation: upSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.downSwipeAnimetion {
    animation: downSwipe var(--swipeAnimetionDuration) ease-in-out;
}
@keyframes opacityMitigation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}
@keyframes opacityUndo {
    0% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}
.opacityMitigationAnimation {
    animation: opacityMitigation .5s ease-in-out forwards;
}
.opacityUndoAnimation {
    animation: opacityUndo .5s ease-in-out forwards;
}
.popup {
    z-index: 110;
    position: fixed;
    color: black;
    overflow-Y: scroll;
    background-color: rgba(var(--popupBackgroundColor), .5);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -75vh;
    height: var(--popupHeight);
    width: calc(100vw - 20px);
    left: 10px;
    backdrop-filter: blur(4px);
}
.popup.optionMenuPopup {
    width: calc(100% - 35px * 1);
    left: calc(.5 * 35px * 1);
    bottom: calc(-75vh - (.25 * 30px * 1));
    /* bottom: 0; */
    background-color: rgba(var(--popupBackgroundColor), .6);
}
.popup.optionPopup {
    width: calc(100% - 35px * 1);
    left: calc(.5 * 35px * 1);
    bottom: calc(-75vh - (.25 * 30px * 1));
    /* bottom: 0; */
    background-color: rgba(var(--popupBackgroundColor), .7);
}
@keyframes popupDisplay {
    0% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
}
.popupDisplayAnimation {
    animation: popupDisplay .4s ease-in-out forwards;
}
@keyframes popupHidden {
    0% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
    100% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
}
.popupHiddenAnimation {
    animation: popupHidden .4s ease-in-out forwards;
}
.popup div, .popup p {
    font-size: 1.85em;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.popup p {
    margin: 20px;
    --fontSize: clamp(1.5em, 15vh, 3em);
    /* font-size: calc(var(--fontSize) - .8em); */
    height: var(--fontSize);
    display: block;
    position: relative;
    transform: translateY(1em);
}
.popup div, .popup p:hover {
    cursor: default;
}
.popup .topTitles {
    margin-top: 15px;
    font-size: 1.5em;
    background-color: transparent;
    /* border: 3px black solid; */
    border-radius: 1.5em;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.popup #topTitles :hover {
    cursor: pointer;
}
.subText {
    font-size: .7em;
}
.popup div #topTitle {
    font-size: 1.5em;
    background-color: transparent;
}
.popup .optionBtn {
    position: fixed;
    height: 55px;
    width: 55px;
    /* left: calc(80vw);
    top: calc(40vh); */
    left: 1px;
    bottom: 10px;
    transform: translateY(2px);
    background-color: transparent;
}
.popup .optionBtn img {
    height: 100%;
    width: 100%;
}
@keyframes optionMenuPopupDisplayOptionBtn {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 90deg;
    }
}
.optionMenuPopupDisplayOptionBtnAnimation {
    animation: optionMenuPopupDisplayOptionBtn .5s ease-in-out both;
}
@keyframes optionMenuPopupHiddenOptionBtn {
    0% {
        rotate: 90deg;
    }
    100% {
        rotate: 0deg;
    }
}
.optionMenuPopupHiddenOptionBtnAnimation {
    animation: optionMenuPopupHiddenOptionBtn .5s ease-in-out both;
}
.popup .btns {
    position: absolute;
    display: flex;
    user-select: none;
    height: 100px;
    width: max-content;
    padding: 5px;
    border: 0;
    border-radius: 100px;
    text-align: center;
    bottom: calc(10vh + 50px);
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    /* border: 4px black solid; */
}
.popup .btns :hover {
    cursor: pointer;
}
.popup .btns .partition {
    position: absolute;
    display: flex;
    background-color: black;
    top: 30px;
    width: 5px;
    padding: 0;
    height: 100%;
    left: calc(200px + 5px);
    border-radius: 10px;
}
.popup button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
}
.popup button img {
    height: 90%;
    width: 90%;
    user-select: none;
}
.popup .table {
    height: calc(var(--popupHeight) - var(--topMenuHeight) * 2);
    overflow-x: hidden;
    overflow-y: scroll;
}
.popup .table div {
    width: 90%;
    transform: translate(5%);
    bottom: 0;
    height: max-content;
    padding: 0;
    border-bottom: 1px black solid;
}
.popup .table div p {
    font-size: .35em;
    height: 100%;
    bottom: 0;
    margin: 10px;
    transform: translateY(0px);
    left: -5px;
    text-align: left;
    justify-content: left;
}
@keyframes confirmDeletionDisplay {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.confirmDeletionDisplayAnimation {
    animation: confirmDeletionDisplay .25s ease-in-out both;
}
@keyframes confirmDeletionHidden {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(50px);
        opacity: 0;
    }
}
.confirmDeletionHiddenAnimation {
    animation: confirmDeletionHidden .25s ease-in-out both;
}
@keyframes deleteRecord {
    0% {
        transform: translateX(5%);
        opacity: 1;
    }
    100% {
        transform: translateX(-25vw);
        opacity: 0;
    }
}
.deleteRecordAnimation {
    animation: deleteRecord .25s ease-in-out both;
}
@keyframes recordFillLines {
    0% {
        transform: translate(5%, 0);
    }
    100% {
        transform: translate(5%, calc(.5em + -.75em * 3));
    }
}
.recordFillLinesAnimation {
    animation: recordFillLines .25s ease-in-out;
}
.popup .table div div {
    position: absolute;
    display: flex;
    right: 5px;
    bottom: 3px;
    border-radius: 100vh;
    width: .4em;
    height: .4em;
    border: 0;
}
.popup .table div .confirmDeletionDisplayAnimation {
    background-color: rgba(220, 20, 60, .5);
}
.popup .table div .challengeClearIcon {
    background-color: rgb(100, 170, 100);
}
.popup .table div .challengeClearIcon.assist {
    --outlineWidth: 3px;
    background-color: transparent;
    outline: var(--outlineWidth) solid rgb(100, 170, 100);
    outline-offset: calc(var(--outlineWidth) * -.5);
}
.popup .table div .challengeClearIcon span {
    font-size: .2em;
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0;
    transform: translateX(-50px);
}
.popup .table div div img {
    display: flex;
    /* --size: .45em; */
    /* transform: translate(calc(var(--size) * .05), calc(var(--size) * .05)); */
    /* height: calc(var(--size) * .9); */
    /* transform: translate(calc(.4em - var(--size)), calc(.4em - var(--size)));
    height: calc(var(--size)); */
    transform: translate(-.025em, -.025em);
    height: .45em;
    position: absolute;
}
@keyframes trashBoxLidOpen {
    0% {
        transform: translate(-.025em, -.025em);
        rotate: 0;
    }
    100% {
        transform: translate(-.035em, -.04em);
        rotate: 5deg;
    }
}
@keyframes trashBoxLidClose {
    100% {
        transform: translate(-.025em, -.025em);
        rotate: 0;
    }
    0% {
        transform: translate(-.035em, -.04em);
        rotate: 5deg;
    }
}
.popup .table div div img.trashBoxLid {
    animation: trashBoxLidClose .2s ease-in-out both;
}
.popup .table div div img.trashBoxLid:hover {
    animation: trashBoxLidOpen .2s ease-in-out both;
}
.popup.blockCaseChangePopup .consoles {
    text-align: center;
    font-size: .8em;
    display: flex;
    justify-content: center;
    left: calc(50vw);
    /* margin-top: calc(15%); */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
img {
    /* position: relative; */
    height: 1em;
}
.popup.blockCaseChangePopup .consoles .widthCtrl, .popup.blockCaseChangePopup .consoles .heightCtrl {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
}
.popup.blockCaseChangePopup .consoles .widthCtrl {
    transform: translateX(-2em);
}
.popup.blockCaseChangePopup .consoles .heightCtrl {
    transform: translateX(2em);
}
.popup.blockCaseChangePopup .consoles .widthCtrl .up :hover,
.popup.blockCaseChangePopup .consoles .widthCtrl .down :hover,
.popup.blockCaseChangePopup .consoles .heightCtrl .up :hover,
.popup.blockCaseChangePopup .consoles .heightCtrl .down :hover {
    cursor: pointer;
}
.popup.blockCaseChangePopup .consoles .sampleBlocks {
    /* transform: translateY(calc(-50% + 13dvh)); */
    /* top: 10px; */
    position: absolute;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    line-height: 0;
    pointer-events: none;
    margin: 1.5px;
    white-space: nowrap;
    overflow: visible;
    line-height: 0;
    top: 8px;
    align-items: center;
    /* transform: translateY(-30px); */
}
.popup.blockCaseChangePopup .consoles .sampleBlocks div {
    /* all: unset; */
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    /* height: calc(100px / var(--sampleBlockCaseHeight));
    width: calc(100px / var(--sampleBlockCaseWidth)); */
    background-color: var(--blockBackgroundColor);
    border-radius: calc(.05em);
    background-color: black;
    opacity: .1;
    font-size: .8em;
    margin: 1.5px;
    height: var(--sampleBlockSide);
    width: var(--sampleBlockSide);
    border-radius: calc(var(--sampleBlockSide) / 10);
}
.popup.blockCaseChangePopup .consoles .down {
    rotate: 180deg;
}
.popup.blockCaseChangePopup .consoles img {
    width: .7em;
    height: .7em;
    user-select: none;
}
.popup.blockCaseChangePopup .consoles img::selection {
    background-color: transparent;
}
.popup.blockCaseChangePopup .consoles .margin {
    width: 1em;
}
.popup.blockCaseChangePopup .consoles span {
    font-size: 2em;
    width: 2em;
}
.popup.blockCaseChangePopup .consoles .operatorSymbols {
    position: relative;
    top: 1.6em;
}
.popup.blockCaseChangePopup .consoles .number,
.popup.blockCaseChangePopup .consoles .operatorSymbols,
.popup.blockCaseChangePopup .consoles .up,
.popup.blockCaseChangePopup .consoles .down {
    text-shadow:
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975);
}
@keyframes changeAcceptance {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.changeAcceptanceAnimation {
    animation: changeAcceptance 1s ease-in-out forwards infinite;
}
@keyframes limit {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100px);
    }
    75% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}
.limitAnimation {
    animation: limit 1s ease-in-out forwards infinite;
}
@keyframes sampleBlockDisplay {
    0%{
        transform: scale(.25);
        opacity: 0;
    }
    75%{
        transform: scale(.975);
        opacity: .05;
    }
    100%{
        transform: scale(1);
        opacity: .1;
    }
}
.sampleBlockDisplayAnimation {
    animation: sampleBlockDisplay .4s ease-in-out both;
}
@keyframes clearedBlock {
    0% {
        transform: scale(1);
        rotate: 0deg;
        background-color: var(--blockBackgroundColor);
        box-shadow: 0 0 calc(var(--blockSide) * .5) calc(var(--blockSide) * .5) var(--blockBackgroundColor) inset;
    }
    25% {
        /* rotate: 1deg; */
    }
    50% {
        transform: scale(.95);
        background-color: var(--clearedBlockAnimationBC);
        box-shadow: none;
    }
    75% {
        /* rotate: -1deg; */
    }
    100% {
        transform: scale(1);
        rotate: 0deg;
        background-color: var(--blockBackgroundColor);
        box-shadow: 0 0 calc(var(--blockSide) * .5) calc(var(--blockSide) * .5) var(--blockBackgroundColor) inset;
    }
}
.clearedBlockAnimation {
    animation: clearedBlock .4s ease-in-out both;
}
.notification {
    --fontSize: 1.05em;
    --padding: .5em;
    z-index: 100;
    padding: var(--padding);
    padding-left: calc(var(--padding) * 1.5);
    padding-right: calc(var(--padding) * 2);
    border-radius: calc(var(--fontSize) + var(--padding));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: var(--fontSize);
    position: fixed;
    pointer-events: none;
    user-select: none;
    color: black;
    background-color: rgba(225, 225, 225, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: 0;
    opacity: 0;
    bottom: 10px;
    max-width: 90vw;
    width: fit-content;
    min-width: min-content;
    bottom: 60px;
}
.notification div {
    display: flex;
    align-items: center;
    max-width: 90vw;
}
.notification span {
    color: black;
    opacity: 1;
    white-space: nowrap;
    display: inline-block;
    word-break: keep-all;
    max-width: min-content;
    text-align: left;
}
.notification span button {
    --backgroundColor: rgba(60, 60, 60, 0.5);
    color: white;
    background-color: var(--backgroundColor);
    /* box-shadow: 0 0 50px 1px var(--backgroundColor); */
    font-size: 1.025em;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding: 3.5px;
    margin: 5px;
    margin-left: -5px;
    border-radius: 100vh;
}
.notification span span {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
    text-align: left;
    width: 100%;
}
@keyframes notificationDisplay {
    0% {
        /* transform: translate(-50%, 4em); */
        transform: translate(-50%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.notificationDisplayAnimetion {
    animation: notificationDisplay .25s ease-out both;
}
@keyframes notificationHidden {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        /* transform: translate(-50%, 4em); */
        transform: translate(-50%, 0);
        opacity: 0;
    }
}
.notificationHiddenAnimetion {
    animation: notificationHidden .25s ease-out both;
}
@media screen and (max-height: 500px), screen and (max-width: 450px) {
    .popup #topTitles {
        font-size: 1em;
    }
    /* .popup p {
        transform: translateY(-20px);
    } */
    /* .popup .btns { */
        /* height: 70px; */
        /* width: 70px; */
        /* bottom: 10px; */
    /* } */
}
@media screen and (max-height: 500px) {
    .popup .btns {
        left: calc(80vw);
    }
}
@media screen and (max-height: 670px) {
    .popup .btns {
        height: 70px;
        width: 70px;
    }
}
@media screen and (max-height: 650px) {
    .popup p {
        transform: translateY(0);
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
@media screen and (min-height: 600px) {
    .popup.blockCaseChangePopup .consoles {
        margin-top: calc(7.5vh);
    }
}
@keyframes bottomBarChange {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(25vw);
        opacity: 0;
    }
    51% {
        transform: translateX(-25vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.bottomBarChangeAnimation {
    animation: bottomBarChange .5s ease-in-out both;
}